<html>
	<head>
		<style>
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
		}
		th, td {
			padding: 5px;
		}
		th{
			text-align: left;
		}
		</style>
		<title>City population app</title>
	</head>
	<body>
		<h1 style=color:red>Populations of cities </h1>
		<hr>
		<div>
		<a href="/view_all">View All</a>
		<a href="/population">Add record</a>
		<a href="/delete">Delete City</a>
		<a href="/search">Search record</a>
		</div>
		<hr>
		{% block content %}{% endblock %}
	</body>
</html>
